

body, h1,h2,h3,h4,h5,h6 {
    font-family: "Montserrat", sans-serif
}

.w3-row-padding img {
    margin-bottom: 12px
}

.tilestext {
    text-anchor:middle;
    font-size: 24px;
    fill: #565656;
    stroke-width: 0.1px;
}

circle {
    fill: steelblue;
}

.frame {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

/*.content {
    display: inline-block;
    width: 70%;
}
*/

/*.tile {
    stroke: #eee;
    stroke-width: 5;
}

.tileSelection {
    stroke: green;
    stroke-width: 5;
}*/

/* Ptable classes */
.atomicNumber{
    text-anchor:start;
    fill: #000;
    stroke-width: 0.1px;
    font-weight: bolder;
}

.atomicSymbol{
    text-anchor:middle;
    fill: #000;
    stroke-width: 0.1px;
    font-weight: bolder;
}

.selected{
    fill: crimson;
    stroke: #404040;;
    stroke-width:4;
    r:25px;
}

/* Ptable tooltip classes*/
.atomicName{
    text-anchor:start;
    text-font: 30;
    fill: #565656;
    stroke-width: 0.1px;
}

.d3-tip {
    /*line-height: 5;*/
    padding-left: 10px;
    padding-right: 10px;
    min-width: 400px;
    border-style: groove;
    background: #FFFFFF;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    pointer-events: none;
}

/* Periodic table colors: start*/
.BigBangFusion {
    color: blue;
    fill: blue;
}

.CosmicRayFission {
    color: pink;
    fill: pink;
}

.MergingNeutronStars {
    color: orange;
    fill: orange;
}

.ExplodingMassiveStars {
    color: green;
    fill: green;
}

.DyingLowMassStars {
    color: black;
    fill: yellow;
}

.ExplodingWhiteDwarfs {
    color: steelblue;
    fill: steelblue;
}
/* Periodic table colors: end*/

/* Axis color */
.axisWhite line{
  stroke: white;
}

.axisWhite path{
  stroke: white;
}

.axisWhite text{
  fill: white;
}

/* Brush selection */
.unselected {
  fill: #000;
  fill-opacity: .125;
  stroke: #fff;
}
